/* custom css */
/* .inner {
    width: 1000px !important;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    /* list-style-type: none; */
}

/* summary */
summary,
summary::-webkit-details-marker {
    cursor: pointer;
    list-style: none;
}

ul,
ol {
    list-style: none !important;
    padding-left: 2em !important;
}

li,
p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 8px;
}


details>summary::before {
    content: "▶️ ";
}

details[open]>summary::before {
    content: "🔽 ";
}

/* li */
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
span,
a {
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    margin-bottom: 8px;
}

ul li {
    margin: 0;
    line-height: 1.4;
    padding-left: 1px;
    list-style: none;
}

li li {
    list-style-type: none !important;
    list-style: none !important;
}